{% extends "layout.html" %} {% block title %}Create Room{% endblock %} {% block
main %}
<div class="container">
  <h1 class="mb-4 text-center">
    {% if room %}Update{% else %}Create{% endif %} Room
  </h1>

  <!-- Create/Update Room Form -->
  <form
    action="{% if room %}/rooms/update{% else %}/rooms/create{% endif %}"
    method="POST"
    class="p-4 border rounded shadow-sm mx-auto"
    style="max-width: 600px"
  >
    <!-- Room Name -->
    <div class="mb-3">
      <label for="name" class="form-label fw-bold">Room Name</label>
      <input
        type="text"
        class="form-control"
        id="name"
        name="name"
        value="{% if room %}{{ room.name }}{% endif %}"
        placeholder="Enter Room Name"
        required
      />
      <input
        type="hidden"
        name="room_id"
        value="{% if room %}{{ room.id }}{% endif %}"
      />
    </div>

    <!-- Description -->
    <div class="mb-3">
      <label for="bio" class="form-label fw-bold">Description</label>
      <textarea
        class="form-control"
        id="bio"
        name="description"
        rows="4"
        placeholder="Enter a brief description"
        required
      >
{% if room %}{{ room.description }}{% endif %}</textarea
      >
    </div>

    <!-- Buttons -->
    <div class="text-center">
      <button type="submit" class="btn btn-primary px-4">
        {% if room %}Update{% else %}Create{% endif %}
      </button>
      <a href="/profile" class="btn btn-secondary ms-2 px-4">Cancel</a>
    </div>
  </form>
</div>
{% endblock %}
