{% extends "layout.html" %} {% block title %} Log In {% endblock %} {% block
main %}
<div class="text-center mb-4">
  <h1 class="display-4">
    Welcome to
    <a class="navbar-brand" href="/">
      <span class="text-primary">EventLink</span
      ><img
        class="mb-2"
        src="/static/images/chain.svg"
        width="40"
        height="40"
        alt="logo"
      />
    </a>
  </h1>
  <p class="lead">
    Connect with other event attendees and expand your network.<br />
    New here? <a href="/register" class="text-primary">Register Now!</a>
  </p>
</div>

<form
  action="/login"
  method="post"
  class="w-100"
  style="max-width: 400px; margin: 0 auto"
>
  <div class="mb-3">
    <label for="username" class="form-label visually-hidden">Username</label>
    <input
      id="username"
      autocomplete="off"
      autofocus
      class="form-control mx-auto w-auto"
      name="username"
      placeholder="Username"
      type="text"
      required
      aria-label="Username"
    />
  </div>
  <div class="mb-3">
    <label for="password" class="form-label visually-hidden">Password</label>
    <input
      id="password"
      class="form-control mx-auto w-auto"
      name="password"
      placeholder="Password"
      type="password"
      required
      aria-label="Password"
    />
  </div>
  <button class="btn btn-primary" type="submit">Log In</button>
</form>
{% endblock %}
