{% extends "layout.html" %} {% block title %}Event Mates{% endblock %} {% block
main %}
<div class="container">
  <h2 class="mb-4 text-center">View Event Mates</h2>

  <!-- Filter Rooms -->
  <form method="POST" action="/mates" class="mb-4">
    <input name="action" value="filter" hidden />
    <div class="d-flex flex-column align-items-center">
      <div class="mb-3 w-50">
        <label for="status" class="form-label">Filter by Status:</label>
        <select id="status" name="status" class="form-select">
          <option value="all" selected>All</option>
          <option value="0">Event Mates</option>
          <option value="1">Connections</option>
        </select>
      </div>
      <div class="mb-3 w-50">
        <!--here-->
        <label for="room" class="form-label">Filter by Event:</label>
        <select id="room" name="room_id" class="form-select">
          <option value="all" selected>All</option>
          {% for room in rooms %}
          <option value="{{ room.id }}">{{ room.name }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="text-center mt-3">
        <button type="submit" class="btn btn-primary">Apply Filters</button>
      </div>
    </div>
  </form>

  <!-- Rooms Table -->
  {% if mates %}
  <div class="table-responsive">
    <table class="table table-bordered table-hover">
      <thead class="table-info">
        <tr>
          <th>S/N</th>
          <th>Username</th>
          <th>Event Room</th>
          <th>Status</th>
          <th>Profile Link</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        {% for mate in mates %}
        <tr>
          <td>{{ loop.index }}</td>
          <td>{{ mate.user_name }}</td>
          <td>{{ mate.room }}</td>
          <td>
            {% if mate.status == 0 %}Event mate{% else %}Connection{% endif %}
          </td>
          <td>
            <a
              href="https://{{ mate.profile_link }}"
              target="_blank"
              class="text-decoration-none text-primary"
            >
              View Profile
            </a>
          </td>
          <td>
            <form method="POST" action="/mates">
              <input name="mate_id" value="{{ mate.user_id }}" hidden />
              <input name="action" value="set_status" hidden />
              <input name="status" value="{{ mate.status }}" hidden />
              <button type="submit" class="btn btn-warning btn-sm">
                Change Status
              </button>
            </form>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% else %}
  <div class="text-center mt-4">
    <p class="text-muted">
      No Mates to display. Try adjusting your filters or joining an Event room.
    </p>
  </div>
  {% endif %}
</div>
{% endblock %}
