{% extends "layout.html" %} {% block title %} Register {% endblock %} {% block
main %}
<div class="text-center mb-4">
  <h1 class="display-4">
    Join
    <a class="navbar-brand" href="/">
      <span class="text-primary">EventLink</span
      ><img
        class="mb-2"
        src="/static/images/chain.svg"
        width="40"
        height="40"
        alt="logo"
      />
    </a>
  </h1>
  <p class="lead">
    Expand your professional network by connecting with event attendees.<br />
    Already have an account? <a href="/login" class="text-primary">Login</a>.
  </p>
</div>

<form
  action="/register"
  method="post"
  class="w-100"
  style="max-width: 400px; margin: 0 auto"
>
  <div class="mb-3">
    <label for="username" class="form-label visually-hidden">Username</label>
    <input
      id="username"
      autocomplete="off"
      autofocus
      class="form-control mx-auto w-auto"
      name="username"
      placeholder="Username"
      type="text"
      required
      aria-label="Username"
    />
  </div>
  <div class="mb-3">
    <label for="profile_link" class="form-label visually-hidden"
      >LinkedIn Profile</label
    >
    <input
      id="profile_link"
      class="form-control mx-auto w-auto"
      name="profile_link"
      placeholder="LinkedIn Profile Link"
      type="text"
      pattern="^(https?:\/\/)?(www\.)?linkedin\.com\/(in|pub|company|school)\/[a-zA-Z0-9-_%]+(\/)?$"
      aria-label="LinkedIn Profile Link"
      required
    />
  </div>
  <div class="mb-3">
    <label for="password" class="form-label visually-hidden">Password</label>
    <input
      id="password"
      class="form-control mx-auto w-auto"
      name="password"
      placeholder="Password"
      type="password"
      required
      aria-label="Password"
    />
  </div>
  <div class="mb-3">
    <label for="confirmation" class="form-label visually-hidden"
      >Confirm Password</label
    >
    <input
      id="confirmation"
      class="form-control mx-auto w-auto"
      name="confirmation"
      placeholder="Confirm Password"
      type="password"
      required
      aria-label="Confirm Password"
    />
  </div>
  <button class="btn btn-primary" type="submit">Register</button>
</form>
{% endblock %}
