{% extends "layout.html" %} {% block title %}Rooms{% endblock %} {% block main
%}
<div class="container">
  <h2 class="mb-4 text-center">Enter room key below to join a room</h2>
  <!-- Join Room Section -->
  <div class="text-center mb-4">
    <form
      action="/rooms"
      method="post"
      class="d-flex justify-content-center align-items-center flex-column"
    >
      <div class="mb-3 w-50">
        <input
          autocomplete="off"
          autofocus
          class="form-control"
          name="key"
          placeholder="Enter Room Key"
          type="text"
          required
        />
        <input hidden name="action" value="join" />
      </div>
      <button class="btn btn-primary" type="submit">Join Room</button>
    </form>
  </div>

  <h2 class="mb-4 text-center">Joined Rooms</h2>

  <!-- Filter Rooms Section -->
  <form method="post" action="/rooms" class="mb-4">
    <input name="action" value="filter" hidden />
    <div class="row justify-content-center">
      <div class="col-md-6">
        <label for="status-form" class="form-label">Filter by Status:</label>
        <select id="status-form" name="status" class="form-select">
          <option value="all">All</option>
          <option value="0">Closed</option>
          <option value="1">Open</option>
        </select>
      </div>
    </div>
    <div class="text-center mt-3">
      <button type="submit" class="btn btn-primary">Apply Filters</button>
    </div>
  </form>

  <!-- Create Room Section -->
  <!--<div class="text-center mb-4">
    <a href="/rooms/create" class="btn btn-success"> Create Room </a>
  </div>-->
  {% if rooms %}
  <!-- Rooms Table -->
  <div class="table-responsive">
    <table class="table table-bordered table-hover">
      <thead class="table-info">
        <tr>
          <th>S/N</th>
          <th>Name</th>
          <th>Description</th>
          <th>Key</th>
          <th>Status</th>
          <th>Created on</th>
          <th>Last Updated on</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        {% for room in rooms %}
        <tr>
          <td>{{ loop.index }}</td>
          <td>{{ room.name }}</td>
          <td>{{ room.description }}</td>
          <td>{{ room.key }}</td>
          <td>{% if room.status==1 %}Open{% else %}Closed{% endif %}</td>
          <td>{{ room.created_at }}</td>
          <td>{{ room.updated_at }}</td>
          <td>
            <form method="POST" action="/rooms">
              <input hidden name="room_id" value="{{ room.id }}" />
              <button type="submit" class="btn btn-danger btn-sm">
                Leave Room
              </button>
            </form>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% else %}
  <div class="text-center mt-4">
    <p class="text-muted">
      No rooms found. <br />
      Enter a room key to join a room or submit a request to create one
      <a href="/rooms/create">here.</a>
    </p>
  </div>
  {% endif %}
</div>
{% endblock %}
